
.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #C13584;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .social-button:hover {
    background-color: #E1306C;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 10px 0;
  }
  
  main {
    padding: 20px;
  }
  
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px); 
    box-sizing: border-box;
    text-align: center;
  }
  
  .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .member h2 {
    margin: 10px 0;
  }
  
  .role {
    color: #666;
  }
  
  .info-button1 {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }

  .info-button2 {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }

  .info-button3 {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }

  
  .info-button:hover {
    background-color: #0056b3;
  }
  
  .social-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #C13584; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .social-button:hover {
    background-color: #E1306C;
  }
  
  .info {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }